In [57]:
import pandas as pd

In [66]:
# Step 1: Extract Ohio Business Data from CSV
ohio_business_df = pd.read_csv("C:\\New folder\\Points_of_Interest (1).csv")

In [78]:
# Step 2: Drop unnecessary columns
columns_to_drop = ['PRIMARY_CARE', 'SUTQ_RATING', 'SNAP', 'WIC' , 'PHONE_NUM'
]
ohio_business_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [79]:
# Step 3: Rename columns to meaningful names
ohio_business_df.rename(columns={
    'X': 'x_coordinates',
    'Y': 'y_coordinates',
    'LSN': 'address',
    'POI_NAME': 'business_name',
    'POI_TYPE': 'category'
}, inplace=True)

In [80]:
# Step 4: Display the transformed data
print("Transformed Ohio Business Data:")
print(ohio_business_df.head())

Transformed Ohio Business Data:
   x_coordinates  y_coordinates  OBJECTID   COLS_KEY             address  \
0   1.796884e+06  731334.361343  20415656   626098.0  3750 ZANE TRACE DR
1   1.842715e+06  749717.238291  20415657  1268125.0       2645 MORSE RD
2   1.847615e+06  689890.356632  20415658   465109.0  3699 ALUM CREEK DR
3   1.796091e+06  728398.931190  20415659   810355.0    2180 N WILSON RD
4   1.806697e+06  712614.778047  20415660   885361.0     2872 W BROAD ST

                        business_name                    category POI_SOURCE  \
0                          Pet Brands      Industrial - Warehouse        NaN
1  Kohler Bathroom & Kitchen Products  Retail - Commercial/Retail        NaN
2  Shasta National Beverage Warehouse      Industrial - Warehouse        NaN
3                  Metal Supermarkets  Retail - Commercial/Retail        NaN
4            American Health Network              Medical - Other        NaN

  PRIMARY_USE ALT_GEOM                                GLOBALID WEBSITE OB_GYN  \
0           Y        Y  {F2C8EB1B-45DB-412A-B929-0D857CD18806}     NaN    NaN
1           Y        Y  {3A9C7DC9-08CD-4D6F-A03D-7B41D18DD20E}     NaN    NaN
2           Y        Y  {6986355D-E68F-42EC-9B65-77BAD21BB0F9}     NaN    NaN
3           Y        Y  {067557F5-3473-4887-BF6E-1737847ACA36}     NaN    NaN
4           Y        Y  {B007DE45-FA77-4A34-8B37-5D9350A038B3}     NaN    NaN

  PEDIATRICS
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [83]:
import os
import pandas as pd

# Step 1: Ensure the directory exists
output_directory = "C:\\New folder"
os.makedirs(output_directory, exist_ok=True)

# Step 2: Define the output file path
output_excel_file = os.path.join(output_directory, "Transformed_Ohio_Business_Data.xlsx")

# Step 3: Delete the file if it already exists
if os.path.exists(output_excel_file):
    try:
        os.remove(output_excel_file)
    except PermissionError:
        print(f"PermissionError: Unable to delete the existing file at {output_excel_file}. Please close the file if it is open.")

# Step 4: Save the transformed data to the Excel file
try:
    ohio_business_df.to_excel(output_excel_file, index=False)
    print(f"Transformed data has been saved to {output_excel_file}")
except PermissionError:
    print(f"PermissionError: Unable to save the file to {output_excel_file}. Please ensure the file is not open and you have write permissions.")

Transformed data has been saved to C:\New folder\Transformed_Ohio_Business_Data.xlsx

In [84]:
# Step 7: Display the transformed data
print("Transformed Ohio Business Data:")
print(ohio_business_df.head())

Transformed Ohio Business Data:
   x_coordinates  y_coordinates  OBJECTID   COLS_KEY             address  \
0   1.796884e+06  731334.361343  20415656   626098.0  3750 ZANE TRACE DR
1   1.842715e+06  749717.238291  20415657  1268125.0       2645 MORSE RD
2   1.847615e+06  689890.356632  20415658   465109.0  3699 ALUM CREEK DR
3   1.796091e+06  728398.931190  20415659   810355.0    2180 N WILSON RD
4   1.806697e+06  712614.778047  20415660   885361.0     2872 W BROAD ST

                        business_name                    category POI_SOURCE  \
0                          Pet Brands      Industrial - Warehouse        NaN
1  Kohler Bathroom & Kitchen Products  Retail - Commercial/Retail        NaN
2  Shasta National Beverage Warehouse      Industrial - Warehouse        NaN
3                  Metal Supermarkets  Retail - Commercial/Retail        NaN
4            American Health Network              Medical - Other        NaN

  PRIMARY_USE ALT_GEOM                                GLOBALID WEBSITE OB_GYN  \
0           Y        Y  {F2C8EB1B-45DB-412A-B929-0D857CD18806}     NaN    NaN
1           Y        Y  {3A9C7DC9-08CD-4D6F-A03D-7B41D18DD20E}     NaN    NaN
2           Y        Y  {6986355D-E68F-42EC-9B65-77BAD21BB0F9}     NaN    NaN
3           Y        Y  {067557F5-3473-4887-BF6E-1737847ACA36}     NaN    NaN
4           Y        Y  {B007DE45-FA77-4A34-8B37-5D9350A038B3}     NaN    NaN

  PEDIATRICS
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [85]:
print(f"Transformed data has been saved to {output_excel_file}")

Transformed data has been saved to C:\New folder\Transformed_Ohio_Business_Data.xlsx